{% extends 'base.html' %}
{% block title %}FlipKart|Update Product{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-bordered">
                {{form.as_table}}
            </table>
            <br>
            <input type="submit" value="Update">
            
        </form>
        <a href="/ProductList"><button>Cancel</button></a>
    </div>
</div>
{% endblock %}