{% extends 'base.html' %} {% load static %}
<title>{% block title %}FlipKart|Index{% endblock %}</title>
<body>
  {% block body %} 
  <div class="container-fluid">
    <div class="row"> 

      <div class="container">
        <div class="row">

        <div class="col">
          <a href="/electronicslist">
          <img src="{% static 'images/appliances.png' %}" alt="" width="80px" height="70px">
          <p>Appliances</p>
          </a>
        </div>
        
        <div class="col">
          <a href="#">
            <img src="{% static 'images/babyproducts.png' %}" alt="" width="80px" height="70px">
           <p>Baby Products</p>
            </a>
          </div>

        <div class="col">
            <a href="#">
              <img src="{% static 'images/beauty.png' %}" alt="" width="80px" height="70px">
            <p>  Beauty Products</p>
              </a>
          </div>

          <div class="col">
              <a href="#">
                <img src="{% static 'images/fashion.png' %}" alt="" width="80px" height="70px">
                <p>Fashion</p>
                </a>
            </div>

            <div class="col">
                <a href="#">
                  <img src="{% static 'images/furniture.png' %}" alt="" width="80px" height="70px">
                 <p> Furniture</p>
                  </a>
              </div>
              <div class="col">
                <a href="#">
                  <img src="{% static 'images/grocery.png' %}" alt="" width="80px" height="70px">
                 <p> Grocery</p>
                  </a>
              </div>

              <div class="col">
                <a href="#">
                  <img src="{% static 'images/kitchen.png' %}" alt="" width="80px" height="70px">
                  <p>Kitchen</p>
                  </a>
              </div>
        </div>
      </div>
      
      <!-- category search starts here -->
    <div class="col-2">

      <div>
      <h5>Search by Category</h5>
      <hr>
      <a href="/mobilelist">By Mobile</a><br>
      <a href="/electronicslist">By Electronics</a><br>
      <a href="/shoeslist">By Shoes</a><br>
      <a href="/clothlist">By Cloths</a><br>
      </div>

    <div class="mt-3">
      <h5>Search By Price Range</h5>
      <hr>
      <form method="post" action="/showpricerange/">
        {% csrf_token %}
        <input type="number" placeholder="Min Price" name="min"><br><br>
        <input type="number" placeholder="Max Price" name="max"><br><br>
        <input type="submit" class="btn btn-danger" value="Submit">
      </form>
    </div>

    <div class="mt-3">
      <h5>Sort By Price</h5>
      <hr>
      <a href="/sortingbyprice/?sort=low_to_high">Low to High</a><br>
      <a href="/sortingbyprice/?sort=high_to_low">High to Low</a>
    </div>

    </div>
    <!-- category search starts here -->
    

    <div class="col-10">
      <!-- carousel start here -->
      <div class="container-fluid">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
              <img src="{% static 'images/banner1.png' %}" class="d-block w-100" alt="... " width="200px" height="200px">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
              <img src="{% static 'images/banner2.png' %}" class="d-block w-100" alt="..." width="200px" height="200px">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
              <img src="{% static 'images/banner3.png' %}" class="d-block w-100" alt="..." width="200px" height="200px">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!-- carousel ends  here -->

      <!-- cards start here -->
      <div class="container-fluid mt-3">
        <div class="row">

          {% for m in messages %}
          <h1><mark>{{m}}</mark></h1>
          {% endfor %}
          
          {% for x in allproducts %}          
          <div class="col-md-4 mt-3">
            <div class="card" style="width: 18rem; ">
              <img src="{{x.images.url}}" class="card-img-top" alt="{{x.productname}}" style="width: 286px; height: 250px;">
              <div class="card-body">
                <h5 class="card-title">{{x.productname}}</h5>
                <p class="card-text">{{x.description}}</p>
                <p class="card-text">Price:{{x.price}}/-</p>
                <a href="/addtocart/{{x.productid}}" class="btn btn-primary">Add to Cart</a>
                <a href="#" class="btn btn-danger">Buy Now</a>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>

      <!-- cards ends here -->
    </div>
    </div>  

  </div>
  
  
  {% endblock %}
</body>
